
/*/////////////////////////////////////////////////////////////Reset css code////////////////////////////////////////////////////*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*/////////////////////////////////////////////////////////////Reset css code////////////////////////////////////////////////////*/

:root {
	font-size: 16px;
}
/*navbar*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	transition: .5s;	
	overflow: hidden;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	font-size: 1.3rem;
	line-height: 5rem;
	color: #262626;
	padding: 5px 20px;
	font-family: 'Abril Fatface', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
	letter-spacing: 1px;
	text-align: center;
}
nav ul li a:hover {
	text-decoration: underline orange; 
}
nav ul li a.active {
	text-decoration: underline orange;
}
nav ul li a.icon {
	display: none;
}
@media screen and (max-width: 968px) {
	nav ul li a {
		display: none;
	}

	nav ul li a.icon {
		float: right;
		display: block;
	}
	
}
@media screen and (max-width: 968px) {
  nav.responsive {
  	position: relative;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  nav.responsive ul
  {	
  	display: block;
  }
  nav.responsive ul li a {
  	position: relative;
    float: none;
    display: block;
    text-align: center;
  }
}
/*navbar*/
/*Content*/
/*banner*/
.container-banner {
	padding-top: 25%; 
	padding-bottom: 20%;
	background-image: url("../img/banner-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
.container-banner div p {
	font-family: 'Libre Franklin', serif;
	font-size: 2rem;
	font-weight: 700; 
} 
.container-banner div h1 {
	font-family: 'Arvo', sans-serif;
	font-size: 4rem;
	font-weight: 900; 
}
.container-banner div a i {
	font-size: 3rem;
	padding-top: 0.8rem;
	color: #666;
}
.container-banner div a i:hover {
	color: orange;
} 
/*banner*/
/*me*/
.me {
	
	background: linear-gradient(to bottom right, red, orange);
}
.me .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5vw;
    padding-bottom: 3vw;
}

.me .row .my-image {
    border: 1px solid #35eea4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 25vw;

}
.section-title {
	padding-top: 3vw;
	padding-bottom: 2vw; 
	text-align: center;
}
.section-title h1 {
	font-family: 'Arvo', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: white;
	text-decoration: underline;
}
@media only screen and (max-width: 725px) {
    .me .row {
        flex-direction: column;
    }
    .me .row .image {
        order: -1;
        padding-top: 20px;
    }
    .me .row .my-image {
        width: 60vw;

    }
}

.paragraph {
	align-self: center;
    color: white;
    font-family: 'Libre Franklin', serif;
    padding: 5vw 5vw 5vw 5vw;
    font-size: 1.5rem;
}
/*me*/
/*interests*/
.interests {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}
.interests .section-items {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap; 
	width:90%; 
	padding: 4vw; 
	text-align: center;
}
.meanStack {
	width: 25%;
}
.python {
	width: 25%;
}
.java {
	width: 25%;
}
.android {
	width: 25%;
}

.interests .section-items section img {
	border:1px solid black; 
	border-radius: 25px; 
	width: 15vw; 
	background-color: white;
	box-shadow: 0px 3px 20px 2px orange;
}
@media screen and (min-width: 768px) and (max-width: 980px) {
	.interests .section-items {
		flex-direction: row;
	}
	.meanStack {
		width: 50%;
		padding-bottom: 4vw; 
	}
	.python {
		width: 50%;
		padding-bottom: 4vw;
	}
	.java {
		width: 50%;
		padding-bottom: 4vw;
	}
	.android {
		width: 50%;
		padding-bottom: 4vw;
	}	
	.meanStack img {
		width: 60vw;
	}
	.python img {
		width: 60vw;
	}
	.java img {
		width: 60vw;
	}
	.android img {
		width: 60vw;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.interests .section-items {
		flex-direction: row;
	}
	.meanStack {
		width: 50%;
		padding-bottom: 4vw; 
	}
	.python {
		width: 50%;
		padding-bottom: 4vw;
	}
	.java {
		width: 50%;
		padding-bottom: 4vw;
	}
	.android {
		width: 50%;
		padding-bottom: 4vw;
	}	
	.meanStack img {
		width: 60vw;
	}
	.python img {
		width: 60vw;
	}
	.java img {
		width: 60vw;
	}
	.android img {
		width: 60vw;
	}
}
@media screen and (max-width: 480px) {
	.interests .section-items {
		flex-direction: row;
	}
	.meanStack {
		width: 100%;
		padding-bottom: 4vw; 
	}
	.python {
		width: 100%;
		padding-bottom: 4vw;
	}
	.java {
		width: 100%;
		padding-bottom: 4vw;
	}
	.android {
		width: 100%;
		padding-bottom: 4vw;
	}	
	.meanStack img {
		width: 60vw;
	}
	.python img {
		width: 60vw;
	}
	.java img {
		width: 60vw;
	}
	.android img {
		width: 60vw;
	}
}
/
/*interests*/
/*projects*/
.projects {
	width: 100%;
}
.projects .section-title h1 {
	color: black;
}
.projects .proj-items {
	width: 90%;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	padding: 4vw; 
}
.projects .proj-items .proj-section-item {
	width: 100%;
	padding-bottom: 3vw;
}
.projects .proj-items section img {
	border:1px solid black; 
	border-radius: 25px;
	box-shadow: 0px 3px 20px 2px orange;
	width: 90vw; 
}

/*projects*/


/*contact*/
.contact {
	background: linear-gradient(to bottom right, gray, white);
	width: 100%;
}
.contact .row {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 4vw;
	padding-right: 4vw;
	text-align: center; 
}

.contact .row p {
	font-size: 1.3rem;
	font-weight: 900;
	font-family: 'Arvo', serif; 
	padding-bottom: 1vw;
}
.contact .row .icon-group {
	width: 50%;
	padding-bottom: 2vw; 
}
.contact .row .icon-group .socio-icon {
    margin-right: 10px;
    width: 25px;
}
.contact .row .icon-group .socio-icon:hover {
    margin-right: 10px;
    width: 35px;
    color: white;
}
@media screen and (max-width: 375px) {  
	.contact .row p {
		font-size: 0.8rem;
		font-weight: 900;
		font-family: 'Arvo', serif; 
	}
}
/*contact*/
/*Content*/